@import url("https://fonts.googleapis.com/css?family=Proza+Libre:400,700");

body {
  background: #fff;
  color: #191919;
  font-family: "Proza Libre", sans-serif;
}

.navBar {
  display: flex;
  justify-content: space-between;
}

.pageTitles {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  max-width: 300px;
}

.pageTitles > a {
  margin-left: 10px;
}

.skillsContainer {
  padding: 5px;
  background: #fff;
  border: 10px solid #4f517d;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  /* grid-template-columns: repeat(6, 1fr); */
  justify-items: center;
}

.skillSize {
  min-width: 90px;
  min-height: 90px;
}

.projectGrid {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 30px;
}

img {
  max-width: 100%;
  border: 10px solid #4f517d;
}

.projectSize {
  max-width: 100%;
  height: 100%;
}

.flip-container {
  perspective: 1000px;
}

.projectGrid::before {
  content: "";
  padding-bottom: 100%;
  width: 0;
  grid-row: 1/1;
  grid-column: 1/1;
}

.projectGrid > *:first-child {
  grid-row: 1/1;
  grid-column: 1/1;
}

/* flip the pane when hovered */
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(-180deg);
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  position: relative;
}

/* hide back of pane during swap */
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(-180deg);
  color: #191919;
}

.backContent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #fff;
  text-align: center;
}

.contactGrid {
  padding: 5px;
  background: #fff;
  border: 10px solid #4f517d;
  display: flex;
  justify-content: space-around;
}

a {
  text-decoration: none;
  color: #191919;
}
